@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin&display=swap');

body {
    position: relative;
    background-color: rgb(0, 0, 0);
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
}

.main-content-div {
    flex-direction: row;
    width: 100vw;
    height: 100vh;
    position: relative;
    border-radius: 20px;
    overflow: hidden;
}


#header-image {
    padding-top: 200px; 
    left: 50%;    
}

#header-image > img{
    display: flex;
    transform: translateX(-50%);
    width: 80vw;
}

.main-content-div >*{
    position: absolute;
}

.hidden-element {
    display: none;
}

#backstage-div {
    padding-top: 200px; 
    left: 50%;   
    top: 5%; 
    position: relative;
    justify-content: center;
}

#backstage-div > img {
    width: 80vw;
    transform: translateX(-50%);
    box-shadow: #FF1000 10px 10px 0px;
}

#backstage-div:checked+label+#hidden-backstage {
    display: flex;
    z-index: 3;
    animation-name: backstage-animation;
    animation-duration: 1s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

#backstage-content{
    display: block;
    list-style-type: none;
    margin-left: 20px;
    padding: 5px;
    color: white;
}


#live-div {
    padding-top: 200px; 
    left: 50%;    
    position: relative;
    justify-content: center;
}

#live-div >img {
    width: 50vw;
    transform: translateX(-50%);
}

#live-div:checked+label+#hidden-live {
    display: flex;
    z-index: 3;
    animation-name: live-animation;
    animation-duration: 1s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

.hidden-element {
    position: absolute;
    left:50%;
    top:50%;
    transform: translateX(-50%)translateY(-50%);
    width: 800px;
    height: 600px;
    background-color: #626262ef;
    box-shadow: black 0 0 10px;
    border-radius: 20px;
    border: solid black 1px;
}

iframe {
    box-shadow: black 0px 0px 5px;
}

input {
    display: none;
}

@keyframes live-animation {
    from{
        top: -600px;
    }
    to {
        left:50%;
        top:50%;
        transform: translateX(-50%)translateY(-50%);
    }
}

@keyframes backstage-animation {
    from{
        left: 1824px;
    }
    to {
        left:50%;
        top:50%;
        transform: translateX(-50%)translateY(-50%);
    }
}

/*
    CSS-kode for timeline
*/

.timeline-div >* {
    box-sizing: border-box;
}

.timeline-div {
    position: relative;
    max-width: 80vw;
    min-width: 1024px;
    margin: 0 auto;
    
}

.timeline-div::after {
    content: '';
    position: absolute;
    width: 6px;
    background-color: white;
    top: 0;
    bottom: 0;
    left: 50%;
    margin-left: -3px;
}

.container {
    padding: 10px 40px;
    position: relative;
    background-color: white;
    width: 50%;
    margin: 20px 0 20px 0;
    
}

.container::after {
    content: '';
    position: absolute;
    width: 25px;
    height: 25px;
    right: -17px;
    background-color: white;
    border: 4px solid #FF1000;
    top: 15px;
    border-radius: 50%;
    z-index: 1;
}

.left-side {
    left: 0;
    background-color: transparent;
}

.left-side > .timeline-content > h3 {
    text-align: right ;
}

.source {
    font-size: 10px;
    font-size: italic;
    float: right;
}

.right-side {
    left: 50%;
    background-color: transparent;
}

.right-side > .timeline-content > h3 {
    text-align: left;
}

.left-side::before {
    content: "";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    right: 30px;
    border: medium solid white;
    border-width: 10px 0 10px 10px;
    border-color: transparent transparent transparent white;
}

.right-side::before {
    content:"";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    left: 30px;
    border: medium solid white;
    border-width: 10px 10px 10px 0;
    border-color: transparent white transparent transparent;
}


.right-side::after {
    left: -16px;
}

.timeline-content {
    padding: 20px 30px;
    background-color: white;
    position: relative;
    box-shadow: #FF1000 10px 10px 0px;
}